#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/t/ab8726f0cfc84544abbae69a6be88071

## Librerias

In [76]:
import pandas as pd
import numpy as numpy
import urllib.request
from PIL import Image
pd.set_option('display.max.column',None)

## Data

In [77]:
### Para que funcione necesitas bajarte los archivos de datos de Kaggle 
train = pd.read_csv("data/train.csv")

In [78]:
train.shape

(912, 13)

In [79]:
test = pd.read_csv("data/test.csv")

In [80]:
test.shape

(391, 12)

In [81]:
train['dataset'] = 'train'
test['dataset'] = 'test'

In [82]:
df = pd.concat([train, test], ignore_index=True)

In [83]:
df.tail()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,dataset
1298,693,Dell,Alienware 15,Gaming,15.6,Full HD 1920x1080,Intel Core i7 7820HK 2.9GHz,16GB,256GB SSD + 1TB HDD,Nvidia GeForce GTX 1070,Windows 10,3.49kg,NaN,test
1299,1132,Razer,Blade Stealth,Ultrabook,12.5,Touchscreen / 4K Ultra HD 3840x2160,Intel Core i7 6500U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 520,Windows 10,1.25kg,NaN,test
1300,49,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,4GB,256GB SSD,AMD Radeon R5 M430,Windows 10,2.3kg,NaN,test
1301,1243,Asus,X540SA-RBPDN09 (N3710/4GB/1TB/W10),Notebook,15.6,1366x768,Intel Pentium Quad Core N3710 1.6GHz,4GB,1TB HDD,Intel HD Graphics 405,Windows 10,2.65kg,NaN,test
1302,924,HP,Elitebook Folio,Ultrabook,12.5,4K Ultra HD / Touchscreen 3840x2160,Intel Core M 6Y75 1.2GHz,8GB,240GB SSD,Intel HD Graphics 515,Windows 10,1.09kg,NaN,test

## Data processing

In [84]:
#Nombres columna minúscula
df.columns = df.columns.str.lower()

In [85]:
#Columna ram
df['ram'] = df['ram'].str.rstrip('GB').astype('int')

In [86]:
#Columna weight
df['weight'] = df['weight'].str.rstrip('kg').astype('float')

In [87]:
#Columna company, typename, opsys
cols_to_encode = ['company', 'typename', 'opsys']
df=pd.get_dummies(df, columns=cols_to_encode)
col_bool = df.select_dtypes(include='bool').columns
df[col_bool] = df[col_bool].astype(int)

In [88]:
#Columna product
df['product']= df['product'].str.split(' ', n=1, expand=True)[0]

In [89]:
#Columna screenresolution
df['pixeles'] = df['screenresolution'].str.extract(r'(\d+x\d+)')
df[['pix_ancho', 'pix_largo']] = df['pixeles'].str.split('x', expand=True)
df[['pix_ancho', 'pix_largo']] = df[['pix_ancho', 'pix_largo']].astype(int)

In [90]:
df['touchscreen'] = df['screenresolution'].str.contains('Touchscreen', case=False, na=False)
df['touchscreen']=df['touchscreen'].astype(int)

In [91]:
del df['screenresolution']
del df['pixeles']

In [92]:
#Columna Memory
#capacidad disco duro
df['capacidad_dd'] = df['memory'].str.extract('(\d+(\.\d+)?)\s*(TB|GB)')[0].astype(float)
df.loc[df['memory'].str.contains('TB'), 'capacidad_dd'] *= 1024

#tipo de disco duro
df['tipo_dd'] = df['memory'].str.extract('(SSD|HDD|Hybrid|Flash Storage)')
df_dummies = pd.get_dummies(df['tipo_dd'], prefix='tipo_dd')
df_dummies = df_dummies.astype(int)
df = pd.concat([df, df_dummies], axis=1)
del df['tipo_dd']
del df['memory']

In [93]:
#Columna cpu
df['tipo_cpu'] = df['cpu'].str.split().str[0]
df['tipo_cpu'] = df['tipo_cpu'].apply(lambda x: 1 if 'Intel' in str(x) else 0)
del df['cpu']

In [94]:
#Columna gpu
df['tipo_gpu'] = df['gpu'].str.split().str[0]
df['tipo_gpu'] = df['tipo_gpu'].apply(lambda x: 1 if 'Intel' in str(x) else 0)
del df['gpu']

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   laptop_id                    1303 non-null   int64
 1   product                      1303 non-null   object
 2   inches                       1303 non-null   float64
 3   ram                          1303 non-null   int64
 4   weight                       1303 non-null   float64
 5   price_euros                  912 non-null    float64
 6   dataset                      1303 non-null   object
 7   company_Acer                 1303 non-null   int64
 8   company_Apple                1303 non-null   int64
 9   company_Asus                 1303 non-null   int64
 10  company_Chuwi                1303 non-null   int64
 11  company_Dell                 1303 non-null   int64
 12  company_Fujitsu              1303 non-null   int64
 13  company_Google               1303 non-null   int64
 14  company_HP                   1303 non-null   int64
 15  company_Huawei               1303 non-null   int64
 16  company_LG                   1303 non-null   int64
 17  company_Lenovo               1303 non-null   int64
 18  company_MSI                  1303 non-null   int64
 19  company_Mediacom             1303 non-null   int64
 20  company_Microsoft            1303 non-null   int64
 21  company_Razer                1303 non-null   int64
 22  company_Samsung              1303 non-null   int64
 23  company_Toshiba              1303 non-null   int64
 24  company_Vero                 1303 non-null   int64
 25  company_Xiaomi               1303 non-null   int64
 26  typename_2 in 1 Convertible  1303 non-null   int64
 27  typename_Gaming              1303 non-null   int64
 28  typename_Netbook             1303 non-null   int64
 29  typename_Notebook            1303 non-null   int64
 30  typename_Ultrabook           1303 non-null   int64
 31  typename_Workstation         1303 non-null   int64
 32  opsys_Android                1303 non-null   int64
 33  opsys_Chrome OS              1303 non-null   int64
 34  opsys_Linux                  1303 non-null   int64
 35  opsys_Mac OS X               1303 non-null   int64
 36  opsys_No OS                  1303 non-null   int64
 37  opsys_Windows 10             1303 non-null   int64
 38  opsys_Windows 10 S           1303 non-null   int64
 39  opsys_Windows 7              1303 non-null   int64
 40  opsys_macOS                  1303 non-null   int64
 41  pix_ancho                    1303 non-null   int64
 42  pix_largo                    1303 non-null   int64
 43  touchscreen                  1303 non-null   int64
 44  capacidad_dd                 1303 non-null   float64
 45  tipo_dd_Flash Storage        1303 non-null   int64
 46  tipo_dd_HDD                  1303 non-null   int64
 47  tipo_dd_Hybrid               1303 non-null   int64
 48  tipo_dd_SSD                  1303 non-null   int64
 49  tipo_cpu                     1303 non-null   int64
 50  tipo_gpu                     1303 non-null   int64
dtypes: float64(4), int64(45), object(2)
memory usage: 519.3+ KB

-----------------------------------------------------------------------------------------------------------------

In [308]:
train = df[df['dataset'] == 'train']
test = df[df['dataset'] == 'test']

In [309]:
train = train.drop(['dataset'], axis=1)
test = test.drop(['dataset'], axis=1)

In [310]:
test.to_csv("data/test1.csv", index=False)

In [311]:
train

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,capacidad_dd,tipo_dd_Flash Storage,tipo_dd_HDD,tipo_dd_Hybrid,tipo_dd_SSD
0,1104,Acer,Aspire ES1-523,Notebook,15.6,1366x768,AMD A8-Series 7410 2.2GHz,4,AMD Radeon R5,Windows 10,2.40,387.00,500.0,0,1,0,0
1,114,Dell,XPS 13,Ultrabook,13.3,Quad HD+ / Touchscreen 3200x1800,Intel Core i7 7560U 2.4GHz,8,Intel Iris Plus Graphics 640,Windows 10,1.23,1379.00,256.0,0,0,0,1
2,172,Acer,Aspire A517-51G,Notebook,17.3,IPS Panel Full HD 1920x1080,Intel Core i5 8250U 1.6GHz,8,Nvidia GeForce MX150,Windows 10,3.00,854.00,256.0,0,0,0,1
3,918,HP,Elitebook 820,Netbook,12.5,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8,Intel HD Graphics 620,Windows 10,1.26,1483.00,512.0,0,0,0,1
4,447,Lenovo,IdeaPad 320-15AST,Notebook,17.3,1600x900,AMD A6-Series 9220 2.5GHz,8,AMD Radeon R4,Windows 10,2.80,519.00,1024.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,996,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,Full HD 1920x1080,AMD A12-Series 9720P 3.6GHz,6,AMD Radeon 530,Windows 10,2.20,549.00,256.0,0,0,0,1
908,731,Dell,Alienware 17,Gaming,17.3,4K Ultra HD 3840x2160,Intel Core i7 7700HQ 2.8GHz,32,Nvidia GeForce GTX 1070,Windows 10,4.36,3659.40,1024.0,0,0,0,1
909,276,Asus,Rog Strix,Gaming,17.3,Full HD 1920x1080,AMD Ryzen 1700 3GHz,16,AMD Radeon RX 580,Windows 10,3.20,1549.00,262144.0,0,0,0,1
910,585,MSI,GT73VR Titan,Gaming,17.3,Full HD 1920x1080,Intel Core i7 7820HK 2.9GHz,16,Nvidia GeForce GTX 1070,Windows 10,4.14,2729.00,524288.0,0,0,0,1
911,1173,HP,15-bw002nv (A6-9220/4GB/256GB/Radeon,Notebook,15.6,Full HD 1920x1080,AMD A6-Series A6-9220 2.5GHz,4,AMD Radeon 520,Windows 10,1.91,478.89,256.0,0,0,0,1

In [312]:
test

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,capacidad_dd,tipo_dd_Flash Storage,tipo_dd_HDD,tipo_dd_Hybrid,tipo_dd_SSD
912,750,Toshiba,Tecra X40-D-10G,Notebook,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i5 7200U 2.5GHz,8,Intel HD Graphics 620,Windows 10,1.25,NaN,256.0,0,0,0,1
913,726,Mediacom,Smartbook 142,Notebook,14.0,IPS Panel Full HD 1920x1200,Intel Atom Z8350 1.92GHz,4,Intel HD Graphics 400,Windows 10,1.40,NaN,32.0,0,1,0,0
914,633,Mediacom,SmartBook 140,Notebook,14.0,Full HD 1920x1080,Intel Atom x5-Z8350 1.44GHz,2,Intel HD Graphics,Windows 10,1.40,NaN,32.0,1,0,0,0
915,363,Dell,Inspiron 7577,Gaming,15.6,Full HD 1920x1080,Intel Core i5 7300HQ 2.5GHz,8,Nvidia GeForce GTX 1050,Windows 10,2.65,NaN,1024.0,0,1,0,0
916,319,Asus,VivoBook Flip,2 in 1 Convertible,11.6,Touchscreen 1366x768,Intel Celeron Dual Core N3350 1.1GHz,2,Intel HD Graphics 500,Windows 10,1.10,NaN,32.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,693,Dell,Alienware 15,Gaming,15.6,Full HD 1920x1080,Intel Core i7 7820HK 2.9GHz,16,Nvidia GeForce GTX 1070,Windows 10,3.49,NaN,262144.0,0,0,0,1
1299,1132,Razer,Blade Stealth,Ultrabook,12.5,Touchscreen / 4K Ultra HD 3840x2160,Intel Core i7 6500U 2.5GHz,8,Intel HD Graphics 520,Windows 10,1.25,NaN,256.0,0,0,0,1
1300,49,Dell,Inspiron 3567,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,4,AMD Radeon R5 M430,Windows 10,2.30,NaN,256.0,0,0,0,1
1301,1243,Asus,X540SA-RBPDN09 (N3710/4GB/1TB/W10),Notebook,15.6,1366x768,Intel Pentium Quad Core N3710 1.6GHz,4,Intel HD Graphics 405,Windows 10,2.65,NaN,1024.0,0,1,0,0
1302,924,HP,Elitebook Folio,Ultrabook,12.5,4K Ultra HD / Touchscreen 3840x2160,Intel Core M 6Y75 1.2GHz,8,Intel HD Graphics 515,Windows 10,1.09,NaN,240.0,0,0,0,1

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

In [313]:
train = train[['laptop_ID','Inches','Price_euros', 'Ram', 'Weight', 'capacidad_dd','tipo_dd_Flash Storage',	'tipo_dd_HDD','tipo_dd_Hybrid','tipo_dd_SSD']]

In [314]:
train

,laptop_ID,Inches,Price_euros,Ram,Weight,capacidad_dd,tipo_dd_Flash Storage,tipo_dd_HDD,tipo_dd_Hybrid,tipo_dd_SSD
0,1104,15.6,387.00,4,2.40,500.0,0,1,0,0
1,114,13.3,1379.00,8,1.23,256.0,0,0,0,1
2,172,17.3,854.00,8,3.00,256.0,0,0,0,1
3,918,12.5,1483.00,8,1.26,512.0,0,0,0,1
4,447,17.3,519.00,8,2.80,1024.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
907,996,15.6,549.00,6,2.20,256.0,0,0,0,1
908,731,17.3,3659.40,32,4.36,1024.0,0,0,0,1
909,276,17.3,1549.00,16,3.20,262144.0,0,0,0,1
910,585,17.3,2729.00,16,4.14,524288.0,0,0,0,1
911,1173,15.6,478.89,4,1.91,256.0,0,0,0,1

In [315]:
X = train.drop(['Price_euros'], axis=1)
y = train['Price_euros'].copy()
X.shape

(912, 9)

In [316]:
y.shape

(912,)

### 2. Dividir X_train, X_test, y_train, y_test

In [317]:
from sklearn.model_selection import train_test_split

In [318]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

In [319]:
X_train

,laptop_ID,Inches,Ram,Weight,capacidad_dd,tipo_dd_Flash Storage,tipo_dd_HDD,tipo_dd_Hybrid,tipo_dd_SSD
25,26,15.6,4,2.30,1024.0,0,1,0,0
84,776,15.6,16,2.72,131072.0,0,0,0,1
10,1263,15.6,16,2.50,262144.0,0,0,0,1
342,182,15.6,8,1.90,131072.0,0,0,0,1
890,321,13.3,16,1.29,1024.0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
106,394,15.6,8,2.00,256.0,0,0,0,1
270,441,15.6,16,2.50,512.0,0,0,0,1
860,955,17.3,4,2.80,1024.0,0,1,0,0
435,210,15.6,6,2.30,1024.0,0,1,0,0
102,673,15.6,4,2.10,128.0,0,0,0,1

### 3. Asignar el modelo (vacío) a una variable

In [320]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [321]:
model.fit(X,y)

LinearRegression()

In [322]:
pred = model.predict(X_test)
pred

array([1177.61461639,  351.15518853, 1078.64534809, 1114.5530368 ,
       1958.38312172,  955.5742461 ,  867.34483238, 1263.42704279,
       1086.72435381, 1298.52399031, 1333.93935144,  346.35316915,
        516.82681788, 1315.22543108, 1333.34104895, 1820.11579169,
       1976.37370524,  964.80509263, 1116.66736465,  329.57900251,
       1060.72110628,  553.68736462, 1098.76586888, 1165.1834071 ,
       1046.64026967,  402.24205986,  955.50329326, 1846.14360853,
       1082.8604815 ,  511.72835328, 1248.47212565, 1176.76509026,
        970.74052859, 1170.10187572, 1313.36982684,  386.31144178,
        950.36257312,  589.46915892, 1280.14284224,  904.73233298,
       1289.57727569, 1174.81284814, 1212.81213903, 1881.56742337,
        977.19277928,  423.85604418, 1831.57125211,  502.09035315,
       1135.85483036,  795.06320847, 2168.39860312, 1210.93313298,
        385.18166597, 1839.01877792,  975.74485913, 1279.93809002,
       2132.87272618, 1076.99905519, 1936.93766869, 1913.36440142,
        409.15184528, 1153.3709637 ,  544.09760117, 1313.41688243,
        398.78121148,  557.06311056,  713.36938908,  850.87412022,
       1112.26130132,  447.77443039, 1036.48110782, 1275.59329935,
       1219.98099599, 1272.67059271, 1206.03957759, 3382.25328688,
       1902.69667843,  359.74804383,  453.97239056,  536.47400355,
        785.26984754,  988.72266674, 1885.01441669,  827.81852285,
       1065.77092488, 1329.87246387, 1227.66642926,  875.52705679,
       1972.65406569,  563.33293173, 1242.15766499, 1184.70403782,
       1200.53512119,  871.55891615, 1072.03531954,  749.88278006,
       1446.21159889,  899.48075095,  565.99142854,  433.2863575 ,
       1294.41957916, 1367.24246151, 1228.01125018,  862.5564432 ,
       1066.31840002,  569.9908652 ,  893.11182145,  893.24426849,
        552.59039775,  957.57857962, 1220.99536449, 1793.75791482,
       1123.02735935, 1985.34723878, 1249.99265883, 1798.78479214,
        480.1550127 ,  809.21759437,  841.08199243, 1166.27004086,
        477.89651952,  362.56038017, 1323.63542121,  765.01149638,
       1151.36491559,  901.74594614, 1171.6799207 , 1335.34237163,
       1324.38486602, 1345.01626943,  485.8939688 ,  525.02387808,
        928.37052969, 1158.6211334 , 3481.81684579, 1156.87465251,
       1869.75475173, 1163.14199353, 2027.2144074 , 1306.38792101,
       1080.13878388, 1177.4749576 ,  450.48693512,  821.41136981,
       1283.15924575,  781.2428879 ,  956.2063757 ,  808.49916134,
       1157.72170699,  888.55136924,  306.71906867, 1866.38431403,
       1268.11817881, 1962.05649734, 1213.26040814, 1474.17972148,
        873.92518937, 1194.56151711, 3448.97215017, 2022.81285124,
       1190.02001018, 1275.16660707, 2137.04467608, 1304.98937906,
       1973.7609938 ,  488.70316497, 1138.71099931,  815.51420848,
        729.96502868,  602.45745418, 1641.37407518, 1350.52474946,
        583.80174667, 1312.83553827, 1075.61934154,  732.31972414,
       1115.06854558,  523.61883361, 1229.24666109,  785.75836631,
        891.48824528,  504.15954695, 1202.71593906])

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de MAE.

In [323]:
from sklearn.metrics import mean_squared_error
import numpy as np

print('RMSE :',np.sqrt(mean_squared_error(y_test,pred)))

RMSE : 447.67569262745235

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

### 2. Carga los datos de `test.csv` para predecir.

In [334]:
X_pred = pd.read_csv("data/test1.csv")
X_pred.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,capacidad_dd,tipo_dd_Flash Storage,tipo_dd_HDD,tipo_dd_Hybrid,tipo_dd_SSD
0,750,Toshiba,Tecra X40-D-10G,Notebook,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i5 7200U 2.5GHz,8,Intel HD Graphics 620,Windows 10,1.25,NaN,256.0,0,0,0,1
1,726,Mediacom,Smartbook 142,Notebook,14.0,IPS Panel Full HD 1920x1200,Intel Atom Z8350 1.92GHz,4,Intel HD Graphics 400,Windows 10,1.40,NaN,32.0,0,1,0,0
2,633,Mediacom,SmartBook 140,Notebook,14.0,Full HD 1920x1080,Intel Atom x5-Z8350 1.44GHz,2,Intel HD Graphics,Windows 10,1.40,NaN,32.0,1,0,0,0
3,363,Dell,Inspiron 7577,Gaming,15.6,Full HD 1920x1080,Intel Core i5 7300HQ 2.5GHz,8,Nvidia GeForce GTX 1050,Windows 10,2.65,NaN,1024.0,0,1,0,0
4,319,Asus,VivoBook Flip,2 in 1 Convertible,11.6,Touchscreen 1366x768,Intel Celeron Dual Core N3350 1.1GHz,2,Intel HD Graphics 500,Windows 10,1.10,NaN,32.0,1,0,0,0

In [337]:
X_pred=X_pred[['laptop_ID','Inches','Ram', 'Weight', 'capacidad_dd','tipo_dd_Flash Storage',	'tipo_dd_HDD','tipo_dd_Hybrid','tipo_dd_SSD']]

In [338]:
X_pred

,laptop_ID,Inches,Ram,Weight,capacidad_dd,tipo_dd_Flash Storage,tipo_dd_HDD,tipo_dd_Hybrid,tipo_dd_SSD
0,750,14.0,8,1.25,256.0,0,0,0,1
1,726,14.0,4,1.40,32.0,0,1,0,0
2,633,14.0,2,1.40,32.0,1,0,0,0
3,363,15.6,8,2.65,1024.0,0,1,0,0
4,319,11.6,2,1.10,32.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...
386,693,15.6,16,3.49,262144.0,0,0,0,1
387,1132,12.5,8,1.25,256.0,0,0,0,1
388,49,15.6,4,2.30,256.0,0,0,0,1
389,1243,15.6,4,2.65,1024.0,0,1,0,0
390,924,12.5,8,1.09,240.0,0,0,0,1

**¿Por qué da error?**

In [339]:
predictions_submit = model.predict(X_pred)
predictions_submit

array([1250.36079706,  538.71250239,  287.39902767,  817.56619279,
        343.57068802,  700.31727417,  286.644572  , 1976.53278028,
       1896.48855046, 1251.67529567, 1060.97059431, 1172.47467396,
       1163.07112683, 1111.13700152,  696.54829987, 1193.14151641,
       1173.51073762, 2012.76377686,  450.63540994,  905.01151595,
       1329.7700706 , 1039.51934359,  587.84498858, 1277.36903492,
        835.62611093, 1243.35253303,  779.56192749,  722.3230575 ,
        730.78128774, 1210.92900595, 1070.99005221, 1136.83380273,
       1066.25202065, 1257.31346981, 1235.23960101, 1232.06712462,
       1187.7054851 , 1364.82176309,  909.53889397, 2034.53746578,
       1939.93032711, 1079.73297829,  458.55415325, 1160.09140431,
       1076.84585897, 1944.96924224,  762.15619963, 1842.77213382,
       1186.55678907, 1982.03387421,  556.83726855,  412.54517037,
        785.03799137, 1266.01034574,  706.12245616,  847.91835465,
       1137.47224872,  652.22828046, 1336.30615228, 1287.58507659,
        705.58619095, 1152.40728644,  889.13793335,  482.72491165,
       1120.03312381, 1014.89634603, 1532.44675578, 1799.54252804,
        826.60139765,  526.44196465,  862.8309949 , 1167.29225724,
       3467.04216155, 1932.13073616,  959.67580336, 1122.4752804 ,
        744.57617507, 1824.406083  ,  873.21880728, 1296.24227417,
        582.37884949, 1172.96861045, 1187.51412676, 1937.2526852 ,
       1102.37723105,  825.24327576, 1379.6428225 , 1293.59969912,
        382.13468127, 1046.97845506, 1254.46231173,  837.04248957,
        451.28993805, 2077.89288306, 1255.37577056, 1341.38055842,
       1230.11030087,  411.39647031,  561.85563386,  371.55847481,
       1143.5827703 ,  786.85822966, 1120.38064588,  360.93427422,
       1826.54645062,  445.28760424, 1906.63193937,  884.54719344,
       1975.03859391, 1264.07840959, 1292.41912867,  729.02512842,
       1278.69427478, 1784.41960467, 1354.98776683, 1207.49290821,
       1173.74698286, 2642.08370444,  526.65730603, 1265.0997316 ,
        758.62244649, 1306.23001014, 2006.43312925, 1295.31571767,
        843.63284833, 1256.10362362,  378.89177477,  653.88312978,
       1002.54000275, 1139.91076713,  570.02100662,  787.86593302,
        811.66242554,  298.96755204,  734.64530632, 1976.82642264,
       1873.89182576, 1944.14582926, 1974.07365304, 1224.58339191,
       1171.47818777, 1288.6469766 ,  791.76539373, 1993.98138541,
       1910.86118643,  592.23201351, 1846.09005042,  781.80523049,
        815.65874488, 1169.23701329, 1873.86880811, 1281.10958843,
       1253.43201556,  191.61270119, 1856.56890932, 1112.01515432,
       1172.57576048,  507.97733925, 1419.45229593, 1161.07912895,
       3327.26014309,  944.70402231,  918.46365819,  578.23993749,
       1193.04477478, 3489.67442804, 1203.98782693, 1115.08724087,
        580.92227346, 1106.6598705 ,  473.72746609,  777.01009709,
        663.94720054,  477.1801126 , 1862.5170117 ,  383.67217278,
       1009.701593  , 1337.59660242, 1305.31123084,  568.42856862,
        806.33637318, 1869.468851  , 1254.49472129, 1190.34638369,
        876.68804374, 1164.92313614,  951.4637904 ,  692.90610851,
        553.28060392,  844.8978706 , 1112.67738951,  555.88129837,
        597.4335703 ,  546.46118088, 1243.29380997, 1944.85956867,
       1162.02334046,  472.94049095,  708.74494218, 2670.77916501,
       1059.38395179, 1119.90357325, 1168.94434308, 1840.501313  ,
        666.06671631, 1210.17518354, 1732.34468538, 1186.23502681,
        840.64146779,  239.60966288, 1181.32858832,  482.42454114,
        822.94405071, 1266.09239751, 1180.2397381 ,  760.17348485,
       1241.3562762 , 1181.35382903,  700.58216825, 1131.34947205,
        385.96018066,  762.17076308,  363.46865153, 1933.57303699,
        687.44929117, 1972.3595332 , 1388.75359912, 1918.53916377,
       1175.63989609, 1324.4957213 ,  538.50292561,  519.40370019,
       1128.44843443, 1068.67209443, 1198.17086992,  857.27973071,
        911.94663222,  753.44234343,  790.9088327 ,  806.50424705,
       1343.11242756,  554.18441664, 1192.6504931 , 1180.23886591,
       1193.06076892,  536.55739263,  714.41558231, 2051.38670106,
       1318.81437418, 1311.82111816, 1182.17638781, 1898.14560861,
       1212.39721157, 1066.78799453,  625.6303488 ,  894.20197755,
       1349.10095791, 1334.34888532, 1285.66402646, 1203.77423302,
        779.3288578 , 1923.48067965,  497.63125361, 2031.90260802,
        431.84294011,  631.12191632,  469.0032937 ,  598.114189  ,
        866.25859798,  752.56419063, 1263.27624925, 1048.25133658,
        397.94143159,  534.25714784, 1936.48898319, 2078.6942753 ,
       1924.40089935,  451.37630509,  576.51933731, 2009.26121444,
       1327.23813849, 1348.59281331, 6492.4609846 ,  911.55736919,
       1231.59527218,  463.38311581, 1074.72707509, 1045.94266795,
        454.75559704, 1367.59372263, 1843.78360584, 1623.76426163,
        979.6516071 , 1113.24456823,  406.64888123,  825.26025627,
        896.39724297, 1034.3330548 , 2091.82694472,  894.18643441,
        449.3580019 ,  710.39214874,  503.7837976 , 1201.22526949,
       1216.08566669, 1934.05771323, 1980.21972484, 1131.68577694,
        600.88764109, 3489.37142078, 1368.44149049,  520.79645594,
       1821.5864617 , 2065.617491  , 1619.24672195, 1268.48742564,
       1821.92473117, 2117.03208777, 2139.50350391, 1153.63959683,
        290.28800554,  403.38597893, 1765.58395132,  787.18016232,
       1158.37040476, 1044.61533094, 1280.81624281,  349.04762182,
       2028.53269685, 1166.50381117, 1290.66005961,  977.71552357,
       2011.54151523,  859.78519874,  412.03795632,  499.63152533,
       1941.7036505 ,  776.32787422, 1134.06887868,  538.94743975,
       1144.63120046, 1123.56476916,  402.54108487, 1145.16325   ,
        779.46892492,  754.67175734,  387.33349531,  817.13022018,
       1079.98187822, 1222.8396182 , 1179.50047254, 2075.8482954 ,
        768.68179803, 1230.29051306, 1825.78292177, 1185.11833727,
        514.52833527, 3343.76861693,  871.77038809, 1216.5999774 ,
       1383.45777011,  891.00887786, 1107.99434674, 1818.14067202,
       1285.12901223,  374.75819779,  517.12050292,  545.48895396,
       1324.38015138,  973.70324695,  639.23161909,  362.95257741,
       1951.70533977,  931.00126123,  569.40004082, 1269.84251805,
       1150.8231893 ,  640.98158285, 1156.14450466, 1323.93596891,
        983.37416587, 1241.96431474,  976.49141161,  790.10594676,
       1292.87228928, 1882.50203843, 1978.40092728, 1394.35218526,
        710.37139956,  596.25183874, 1351.57091134])

IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

In [ ]:
# ¿Qué opináis?
# Sí

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [340]:
predictions_submit = model.predict(X_pred)
predictions_submit

array([1250.36079706,  538.71250239,  287.39902767,  817.56619279,
        343.57068802,  700.31727417,  286.644572  , 1976.53278028,
       1896.48855046, 1251.67529567, 1060.97059431, 1172.47467396,
       1163.07112683, 1111.13700152,  696.54829987, 1193.14151641,
       1173.51073762, 2012.76377686,  450.63540994,  905.01151595,
       1329.7700706 , 1039.51934359,  587.84498858, 1277.36903492,
        835.62611093, 1243.35253303,  779.56192749,  722.3230575 ,
        730.78128774, 1210.92900595, 1070.99005221, 1136.83380273,
       1066.25202065, 1257.31346981, 1235.23960101, 1232.06712462,
       1187.7054851 , 1364.82176309,  909.53889397, 2034.53746578,
       1939.93032711, 1079.73297829,  458.55415325, 1160.09140431,
       1076.84585897, 1944.96924224,  762.15619963, 1842.77213382,
       1186.55678907, 1982.03387421,  556.83726855,  412.54517037,
        785.03799137, 1266.01034574,  706.12245616,  847.91835465,
       1137.47224872,  652.22828046, 1336.30615228, 1287.58507659,
        705.58619095, 1152.40728644,  889.13793335,  482.72491165,
       1120.03312381, 1014.89634603, 1532.44675578, 1799.54252804,
        826.60139765,  526.44196465,  862.8309949 , 1167.29225724,
       3467.04216155, 1932.13073616,  959.67580336, 1122.4752804 ,
        744.57617507, 1824.406083  ,  873.21880728, 1296.24227417,
        582.37884949, 1172.96861045, 1187.51412676, 1937.2526852 ,
       1102.37723105,  825.24327576, 1379.6428225 , 1293.59969912,
        382.13468127, 1046.97845506, 1254.46231173,  837.04248957,
        451.28993805, 2077.89288306, 1255.37577056, 1341.38055842,
       1230.11030087,  411.39647031,  561.85563386,  371.55847481,
       1143.5827703 ,  786.85822966, 1120.38064588,  360.93427422,
       1826.54645062,  445.28760424, 1906.63193937,  884.54719344,
       1975.03859391, 1264.07840959, 1292.41912867,  729.02512842,
       1278.69427478, 1784.41960467, 1354.98776683, 1207.49290821,
       1173.74698286, 2642.08370444,  526.65730603, 1265.0997316 ,
        758.62244649, 1306.23001014, 2006.43312925, 1295.31571767,
        843.63284833, 1256.10362362,  378.89177477,  653.88312978,
       1002.54000275, 1139.91076713,  570.02100662,  787.86593302,
        811.66242554,  298.96755204,  734.64530632, 1976.82642264,
       1873.89182576, 1944.14582926, 1974.07365304, 1224.58339191,
       1171.47818777, 1288.6469766 ,  791.76539373, 1993.98138541,
       1910.86118643,  592.23201351, 1846.09005042,  781.80523049,
        815.65874488, 1169.23701329, 1873.86880811, 1281.10958843,
       1253.43201556,  191.61270119, 1856.56890932, 1112.01515432,
       1172.57576048,  507.97733925, 1419.45229593, 1161.07912895,
       3327.26014309,  944.70402231,  918.46365819,  578.23993749,
       1193.04477478, 3489.67442804, 1203.98782693, 1115.08724087,
        580.92227346, 1106.6598705 ,  473.72746609,  777.01009709,
        663.94720054,  477.1801126 , 1862.5170117 ,  383.67217278,
       1009.701593  , 1337.59660242, 1305.31123084,  568.42856862,
        806.33637318, 1869.468851  , 1254.49472129, 1190.34638369,
        876.68804374, 1164.92313614,  951.4637904 ,  692.90610851,
        553.28060392,  844.8978706 , 1112.67738951,  555.88129837,
        597.4335703 ,  546.46118088, 1243.29380997, 1944.85956867,
       1162.02334046,  472.94049095,  708.74494218, 2670.77916501,
       1059.38395179, 1119.90357325, 1168.94434308, 1840.501313  ,
        666.06671631, 1210.17518354, 1732.34468538, 1186.23502681,
        840.64146779,  239.60966288, 1181.32858832,  482.42454114,
        822.94405071, 1266.09239751, 1180.2397381 ,  760.17348485,
       1241.3562762 , 1181.35382903,  700.58216825, 1131.34947205,
        385.96018066,  762.17076308,  363.46865153, 1933.57303699,
        687.44929117, 1972.3595332 , 1388.75359912, 1918.53916377,
       1175.63989609, 1324.4957213 ,  538.50292561,  519.40370019,
       1128.44843443, 1068.67209443, 1198.17086992,  857.27973071,
        911.94663222,  753.44234343,  790.9088327 ,  806.50424705,
       1343.11242756,  554.18441664, 1192.6504931 , 1180.23886591,
       1193.06076892,  536.55739263,  714.41558231, 2051.38670106,
       1318.81437418, 1311.82111816, 1182.17638781, 1898.14560861,
       1212.39721157, 1066.78799453,  625.6303488 ,  894.20197755,
       1349.10095791, 1334.34888532, 1285.66402646, 1203.77423302,
        779.3288578 , 1923.48067965,  497.63125361, 2031.90260802,
        431.84294011,  631.12191632,  469.0032937 ,  598.114189  ,
        866.25859798,  752.56419063, 1263.27624925, 1048.25133658,
        397.94143159,  534.25714784, 1936.48898319, 2078.6942753 ,
       1924.40089935,  451.37630509,  576.51933731, 2009.26121444,
       1327.23813849, 1348.59281331, 6492.4609846 ,  911.55736919,
       1231.59527218,  463.38311581, 1074.72707509, 1045.94266795,
        454.75559704, 1367.59372263, 1843.78360584, 1623.76426163,
        979.6516071 , 1113.24456823,  406.64888123,  825.26025627,
        896.39724297, 1034.3330548 , 2091.82694472,  894.18643441,
        449.3580019 ,  710.39214874,  503.7837976 , 1201.22526949,
       1216.08566669, 1934.05771323, 1980.21972484, 1131.68577694,
        600.88764109, 3489.37142078, 1368.44149049,  520.79645594,
       1821.5864617 , 2065.617491  , 1619.24672195, 1268.48742564,
       1821.92473117, 2117.03208777, 2139.50350391, 1153.63959683,
        290.28800554,  403.38597893, 1765.58395132,  787.18016232,
       1158.37040476, 1044.61533094, 1280.81624281,  349.04762182,
       2028.53269685, 1166.50381117, 1290.66005961,  977.71552357,
       2011.54151523,  859.78519874,  412.03795632,  499.63152533,
       1941.7036505 ,  776.32787422, 1134.06887868,  538.94743975,
       1144.63120046, 1123.56476916,  402.54108487, 1145.16325   ,
        779.46892492,  754.67175734,  387.33349531,  817.13022018,
       1079.98187822, 1222.8396182 , 1179.50047254, 2075.8482954 ,
        768.68179803, 1230.29051306, 1825.78292177, 1185.11833727,
        514.52833527, 3343.76861693,  871.77038809, 1216.5999774 ,
       1383.45777011,  891.00887786, 1107.99434674, 1818.14067202,
       1285.12901223,  374.75819779,  517.12050292,  545.48895396,
       1324.38015138,  973.70324695,  639.23161909,  362.95257741,
       1951.70533977,  931.00126123,  569.40004082, 1269.84251805,
       1150.8231893 ,  640.98158285, 1156.14450466, 1323.93596891,
        983.37416587, 1241.96431474,  976.49141161,  790.10594676,
       1292.87228928, 1882.50203843, 1978.40092728, 1394.35218526,
        710.37139956,  596.25183874, 1351.57091134])

In [ ]:
print('RMSE :',np.sqrt(mean_squared_error(test,pred)))

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [341]:
sample = pd.read_csv("data/sample_submission.csv")

In [330]:
sample.head()

   laptop_ID  Price_euros
0        750          500
1        726          500
2        633          500
3        363          650
4        319          650

In [342]:
sample.shape

(391, 2)

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [343]:
submission = pd.DataFrame({"laptop_ID": sample['laptop_ID'], "Price_euros": predictions_submit})

In [344]:
submission.head()

   laptop_ID  Price_euros
0        750  1250.360797
1        726   538.712502
2        633   287.399028
3        363   817.566193
4        319   343.570688

In [28]:
submission.shape

(391, 2)

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [345]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.laptop_ID.all() == sample.laptop_ID.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [346]:
chequeator(submission)

You're ready to submit!